@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
}

.content {
    height: 100vh;
    width: 63vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
}

.image .logo-background {
    font-family: 'norsebold', sans-serif;
    position: relative;
    top: 21vh;
    height: 18vh;
    width: 37vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 10vh;
}

.logo-background .logo {
    position: relative;
    height: 15vh;
    width: auto;
    z-index: 0;
}

.logo-background {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    height: 100vh;
    width: 37vw;
    position: absolute;
    z-index: -1;
}

.text {
    height: 39vh;
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text p {
    padding: 1vw 7vw 3vw 4vw;
    font-weight: bold;
}